{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    table {
        background-color: var(--white-color);
    }

    .table-primary {
        border-color: rgba(112, 112, 112, 0.3);
        --bs-table-bg: none;
        background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1));
    }

    .table-bordered {
        border-width: 2px;
        border-color: rgba(112, 112, 112, 0.3);
    }

    /* label {
        color: #932523;
    } */
</style>

<h1 class="mt-4 ml-3" style="color: #932523;">Editar Administradora e Regra</h1>

<form method="POST">
    {% csrf_token %}
    <div class="modal-body mt-2">
        <div class="form-row">
            <div class="col-6">
                {{ form.Tipo_Cadastro|as_crispy_field }}
                {{ form.Logo|as_crispy_field }}
                {{ form.Nome|as_crispy_field }}
                {{ form.Email|as_crispy_field }}
                {{ form.CNPJ|as_crispy_field }}
                {{ form.Status|as_crispy_field }}

                <center>
                    <a id="add_regra" class="btn btn-danger">
                        ADICIONAR REGRA
                    </a>
                </center>

            </div>
            <div class="d-none">
                {{ formComissionamento.Administradora|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ formComissionamento.Tipo_Regra|as_crispy_field }}
                <h5 style="color: #932523;">Regra de Comissionamento</h5>
                {{ formComissionamento.Nome_Regra|as_crispy_field }}
                <div class="form-row">
                    <div class="col-6">
                        {{ formComissionamento.Percentual_Comissao|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ formComissionamento.Numero_Parcelas_Comissao|as_crispy_field }}
                    </div>
                </div>
                <h5 style="color: #932523;">Regras de Estorno</h5>
                {{ formComissionamento.Tempo_Acompanhamento_Estorno|as_crispy_field }}
                <div class="form-row">
                    <div class="col-6">
                        {{ formComissionamento.Percentual_Estorno|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ formComissionamento.Numero_Parcelas_Estorno|as_crispy_field }}
                    </div>
                </div>
                <h5 style="color: #932523;">Data de uso da Regra</h5>
                <div class="form-row">
                    <div class="col-6">
                        {{ formComissionamento.Inicio_Regra|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ formComissionamento.Fim_Regra|as_crispy_field }}
                    </div>
                </div>
                <h5 style="color: #932523;">Data Corte de Relatório</h5>
                {{ formComissionamento.Limite_Relatorio|as_crispy_field }}
            </div>
        </div>
    </div>
    <hr>
    <center>
        <button type="submit" class="btn btn-danger mb-3">SALVAR ALTERAÇÕES</button>
    </center>
</form>

<script>

    url = window.location.href.split('/')

    console.log(url)

    document.querySelector("#add_regra").href = '/administradora_nova_regra/' + url[4] + '/' + url[5]

</script>

{% endblock %}