{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    table {
        background-color: var(--white-color);
    }

    .table-primary {
        border-color: rgba(112, 112, 112, 0.3);
        --bs-table-bg: none;
        background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1));
    }

    .table-bordered {
        border-width: 2px;
        border-color: rgba(112, 112, 112, 0.3);
    }

    /* label {
        color: #932523;
    } */
</style>

<h1 class="mt-4 ml-3" style="color: #932523;">Editar Representante</h1>

<form method="POST">
    {% csrf_token %}
    <div class="modal-body">
        <div class="form-row">
            <div class="col-6">
                {{ form.Foto|as_crispy_field }}
                {{ form.Nome|as_crispy_field }}
                {{ form.Email|as_crispy_field }}
                {{ form.CPF_CNPJ|as_crispy_field }}
                {{ form.Status|as_crispy_field }}
            </div>
            <div class="col-6">
                <h5 style="color: #932523;">Regra de Comissionamento</h5>
                <div class="form-row">
                    <div class="col-6">
                        {{ form.Percentual_Comissao|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.Numero_Parcelas_Comissao|as_crispy_field }}
                    </div>
                </div>
                <h5 style="color: #932523;">Categoria e Equipe</h5>
                {{ form.Categoria|as_crispy_field }}
                <div class="form-row">
                    <div class="col-6">
                        {{ form.Tipo_Equipe|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.Percentual_Comissao_Equipe|as_crispy_field }}
                    </div>
                </div>
                <h5 style="color: #932523;">Regras de Estorno</h5>
                <div class="form-row">
                    <div class="col-6">
                        {{ form.Numero_Parcelas_Estorno|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.Percentual_Comissao_Estorno|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <center>
        <button type="submit" class="btn btn-danger mb-3">SALVAR</button>
    </center>
</form>


{% endblock %}